* {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #eed91e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

h1 {
    font-size: 50px;
    letter-spacing: 5px;
}

nav ul {
    font-size: 25px;
    list-style: none;
    margin: 0;
    margin-right: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #eed91e;
    text-decoration: none;
}

.container-fluid {
    color: whitesmoke;

}

#contact {
    font-size: 30px
}